
<div class="row">
  <form [formGroup]="productForm">
    <div class="col">
      <ba-card>
      <div class="row">
        <div class="col">
          Sensor<br>
          <div class="form-group">
            <select formControlName="productType" class="form-control" (change)="test()" id="exampleSelect1">
              <option value="Selecteer:">Selecteer:</option>
              <option *ngFor="let t of sensorType">{{t}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          Jaar<br>
      <div class="form-group">
            <select formControlName="years" class="form-control" id="exampleSelect2">
              <option value="Selecteer:">Selecteer:</option>
              <option *ngFor="let t of years">{{t}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          Maand <br>
          <div class="form-group">
            <select formControlName="months" class="form-control" id="exampleSelect3">
              <option value="Selecteer:">Selecteer:</option>
              <option *ngFor="let t of months" let i = 1;>{{t}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          ID<br>
          <div class="form-group">
            <select formControlName="product" class="form-control" id="exampleSelect4">
              <option value="Selecteer:">Selecteer:</option>
              <option *ngFor="let p of productsAfterChangeEvent">{{p.name}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <br>
          <button class="btn btn-success confirm-btn" (click)="update($event)">Update</button>
        </div>
      </div>
      <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
      </ba-card>
    </div>

    <div class="col">
    </div>
  </form>
  </div>
